/*================================
GLOBAL STYLES
==================================*/
html,
body {
	margin: 0;
	padding: 0;
}
body {
	/*prevention from user copying site content
	user-select: none;*/

	font-family: 'Old Standard TT', serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}
/*================================
TOP NAV BAR PART
==================================*/
#top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background: #fff5ee;
	align-items: center;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

#top .navbar {
	width: 100%;
	padding: 0.2em 0;
}

#top .navbar > * {
	flex: 1;
}

#top .navbar ul {
	padding: 0;
	margin: 0;
}

#top .navbar li {
	display: inline-block;
}

#top .navbar ul li a {
	color: #111111;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	transition: 0.3s all;
}

#top .navbar .topics ul li {
	margin: 0 3em;
	font-size: 20px;
}

.menu,
#top .navbar .hamburgerMenu {
	display: none;
}

#top .navbar .about {
	flex: 2;
	text-align: center;
}

#top .navbar .about ul {
	align-items: center;
}

#top .navbar ul li p,
#top .navbar .about ul li a {
	text-align: center;
	margin: 0 0.5em;
}

#top .navbar .topics ul li a:hover,
#top .navbar .about ul li a:hover,
#top .navbar .login ul .logInbar a:hover,
#top .navbar .login ul .active .fa-search:hover {
	color: #559e83;
}

#top .navbar .login {
	text-align: right;
}

#top .navbar .login ul {
	padding-right: 3.5em;
}

#top .navbar .login ul .logInbar a {
	cursor: pointer;
}

#top .navbar .login ul .active {
	margin-left: 1em;
	font-weight: bold;
	cursor: pointer;
}

#toggle {
	display:none;
}
/*MENU RESPONSIVE*/
@media screen and (max-width: 1000px) {
	#top {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		background: #fff5ee;
		align-items: center;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		right: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		opacity: 0.6;
		filter: alpha(opacity=60); /* For IE8 and earlier */
		
	}
	#top .navbar {
		width: 100%;
		padding: 0;
	}
	#top .navbar .topics ul li {
		margin: 0 3em;
	}
	
	#top .navbar .topics,
	#top .navbar .login,
	#top .navbar .about,
	#loginContainer
	 {
		display: none;
	}
	#top .navbar .hamburgerMenu {
		display: inline-block;
		line-height: 30px;
		margin: 0;
		padding: 0;
	}
	#top .navbar .hamburgerMenu .home {
		display: inline-block;
		margin: 0 0 0 0.5em;
		padding: 0.2em 1em;
		width: 50%;
		flex: 1;
		text-align: left;
		font-size: 30px;
	}

	#top .navbar .hamburgerMenu .menuToggle li label,
	#top .navbar .hamburgerMenu .home li {
		cursor: pointer;
	}

	#top .navbar .hamburgerMenu .menuToggle {
		display: inline-block;
		margin: 0;
		padding: 0 1em;
		width: 45%;
		text-align: right;
		flex: 1;
		font-size: 30px;
	}

	#toggle:checked + .menu {
		display: inline-block;
	} /* + MEANING TURNS ON/OFF WHEN TOGGLED*/


	/*.menu INPUT FIELD STYLE START*/
	.menu ul li a input[type=text] {
		box-sizing: border-box;
		width: 12em;
		height: 2.5em;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: #ffffff;
		color: #ccc;
		background-image: url('searchicon.png');
		background-position: 9px 5px; 
		background-repeat: no-repeat;
		padding: 12px 20px 12px 40px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		outline: none; /*prevents the outter line whenever user clicks*/
	}

	.menu ul li a input[type=text]:focus {
		width: 85%;
	}/*ANIMATION THAT MAKES INPUT WINDOW BIGGER*/
	/*.menu INPUT FIELD STYLE END*/

	.menu {
		text-align: center;
		font-size: fit-height;
		display: none;
		position: fixed;
    	width: 300px;
    	height: 497px;
    	top: 0%;
    	/*left: 62.3%;*/
    	right: 5%;
    	margin-top: 4.2em;
		margin-left: 0px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #ccc;
		/*overflow-y: scroll;*/
		z-index: 100;
	}

	/*INPUT FIELD STYLE END*/

	/*.hamburgerMenu TRIANGLE PROPERTIES*/
	.menu ul:before {
		content: "";
		position: absolute;
		top: -33px;
		right: 9px;
		border-top: 1em solid transparent;
		border-right: 1em solid transparent;
		border-bottom: 1em solid #f5f7f8; /*triangle properties*/
		border-left: 1em solid transparent;
	}
	.menu ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.menu ul li {
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #eaeaeb;
		line-height: 70px;
	}
	.menu ul li a {
		display: inline-block;
		margin: 0;
		padding: 0;
		color: #111111;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		cursor: pointer;
	}
	.menu ul li a:hover {
		text-decoration: none;
	}
	#top .navbar .login,
	#navlist nav ul li a {
		display: none;
	}
}

/*LOGINCONTAINER PART (START)*/
#top .navbar .login ul .logInbar{
	text-align: left;
}

#loginContainer {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	display: none;
	position: fixed;
	width: 340px;
	height: 426px;
	top: 12em;
    /* left: 88.2%; */
    right: 2%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}


#loginContainer form {
	margin: 0.5em auto;
}

/*#loginContainer TRIANGLE PROPERTIES*/
#loginContainer form:before {	
	content: "";
	position: absolute;
	top: -33px;
	right: 98px;
	border-top: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid #f5f7f8; /*triangle properties*/
	border-left: 1em solid transparent;
}

#loginContainer form h1 {
	color: #555;
    margin: 0 0 0 0.8em;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

#loginContainer form label {
	color: #555;
	display: inline-block;
	margin: 0.5em 0 0 1.8em;
	padding: 0;
	font-size: 14px;
}

#loginContainer form h6 {
	margin: 0;
	padding: 0;
}

#loginContainer form h6 a {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	font-size: 11px;
	letter-spacing: 1px;
	color: #aaa;
	float: right;
	margin-top: -1.6em;
	margin-right: 2.6em;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}
 
#loginContainer form h6 a:hover {
	color: #555;
}

#loginContainer form #lower input, 
#loginContainer form input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}
 
#loginContainer form input[type=text],
#loginContainer form input[type=password] {
	color: #777;
	margin: 0.3em 1em 1em 2em;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	padding-left: 1em;
}
 
#loginContainer form input[type=text]:hover,
#loginContainer form input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

#loginContainer form input[type=text]:focus,
#loginContainer form input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#loginContainer form #lower {
	display: flex;
	justify-content: space-around;
	background: #ecf2f5;
	width: 100%;
	height: 67px;
	margin-top: 0;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#loginContainer form #lower input[type=checkbox] {
	margin: 2.3em 0em 1em 1.9em;
	padding: 1em 1em 1em 0;
}

#loginContainer form #lower .check {
	margin: 2.4em 1.2em 1em 1em;
	padding-right: 7em;
	font-size: 11px;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

#loginContainer form #lower input[type=submit] {
	margin: 1.3em 1.9em 1em 1em;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

#loginContainer form #lower input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

#loginContainer form #lower input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

#loginContainer form #lowerSoc {
	display: flex;
	background: #ecf2f5;
	width: 100%;
	height: 127px;
	margin-top: 0;
	color: #fff;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	flex-direction: column;
}

#loginContainer form #lowerSoc ul {
	margin: 0.4em 1em 0.4em 1em;
	padding: 0;
    width: 220px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #efacb5; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
	align-self: center;
}

#loginContainer form #lowerSoc ul li {
	list-style-type: none;
	margin: 0.2em 1em 0 1em;
}

#loginContainer form #lowerSoc ul li input[type=submit] {
	text-decoration: none;
	margin: 0;
	color: #fff;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #acd6ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 0 solid #66add6;
    cursor: pointer;
}

#loginContainer form .changeLink {
	background: #ecf2f5;
	box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1em;
}

#loginContainer form .changeLink a {
	text-decoration: none;
	margin: 0 0.5em;
	color: #007bff;
}
/*LOGINCONTAINER PART (END)*/

/*RECOVERY CONTAINER PART (START)*/
#recoveryContainer {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	display: none;
	position: fixed;
	width: 340px;
	height: 426px;
	top: 12em;
    /* left: 88.2%; */
    right: 2%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}


#recoveryContainer form {
	margin: 0.5em auto;
}

/*#recoveryContainer TRIANGLE PROPERTIES*/
#recoveryContainer form:before {	
	content: "";
	position: absolute;
	top: -33px;
	right: 98px;
	border-top: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid #f5f7f8; /*triangle properties*/
	border-left: 1em solid transparent;
}

#recoveryContainer form h1 {
	color: #555;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

#recoveryContainer form label {
	color: #555;
	display: inline-block;
	margin: 7em 0 1.5em 1.8em;
	padding: 0;
	font-size: 14px;
}

#recoveryContainer form #lower input, 
#recoveryContainer form input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

#recoveryContainer form input[type=email] {
	color: #777;
	margin: 1em 1em 3em 2em;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	padding-left: 1em;
}

#recoveryContainer form input[type=email]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

#recoveryContainer form input[type=email]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#recoveryContainer form #lower {
	display: flex;
	justify-content: space-around;
	background: #ecf2f5;
	width: 100%;
	height: 131px;
	margin-top: 0.2em;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#recoveryContainer form #lower input[type=submit] {
	text-align: center;
	margin: 1.3em 1.9em 1em 1em;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

#recoveryContainer form #lower input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

#recoveryContainer form #lower input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}
/*RECOVERY CONTAINER PART (END)*/


/*SIGN UP CONTAINER PART (START)*/
#signUpContainer {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	display: none;
	position: fixed;
	width: 340px;
	height: 426px;
	top: 12em;
    /* left: 88.2%; */
    right: 2%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

#signUpContainer form {
	margin: 0.5em auto;
}

/*#signUpContainer TRIANGLE PROPERTIES*/
#signUpContainer form:before {	
	content: "";
	position: absolute;
	top: -33px;
	right: 98px;
	border-top: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid #f5f7f8; /*triangle properties*/
	border-left: 1em solid transparent;
}

#signUpContainer form h1 {
	color: #555;
    margin: 0 0 0 0.8em;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

#signUpContainer form label {
	color: #555;
	display: inline-block;
	margin: 0.5em 0 0 1.8em;
	padding: 0;
	font-size: 14px;
}

#signUpContainer form #lower input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}
 
#signUpContainer form input[type=text],
#signUpContainer form input[type=email],
#signUpContainer form input[type=password],
#signUpContainer form input[type=passwordRepeat] {
	color: #777;
	margin: 0.3em 1em 0.3em 2em;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	padding-left: 1em;
}
 
#signUpContainer form input[type=text]:hover,
#signUpContainer form input[type=email]:hover,
#signUpContainer form input[type=password]:hover,
#signUpContainer form input[type=passwordRepeat]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

#signUpContainer form input[type=text]:focus,
#signUpContainer form input[type=email]:focus,
#signUpContainer form input[type=password]:focus,
#signUpContainer form input[type=passwordRepeat]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#signUpContainer form #lower {
	display: flex;
	justify-content: space-around;
	background: #ecf2f5;
	width: 100%;
	height: 67px;
	margin-top: 0.1em;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#signUpContainer form #lower input[type=submit] {
	margin: 1.3em 1.9em 1em 1em;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

#signUpContainer form #lower input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

#signUpContainer form #lower input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

#signUpContainer form .changeLink {
	background: #ecf2f5;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	text-align: right;
	margin: 0;
	padding: 0;
}

#signUpContainer form .changeLink a {
	text-decoration: none;
	margin: 0 0.5em;
	color: #007bff;;
	
}
/*SIGN UP CONTAINER PART (END)*/


/*SEARCH-BOX (START)*/
/*STYLING THE search-box AND SET ITS display: none, TO USE JQUERY CAN MAKE IT TOGGLE(show, hide).*/
.search-box {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0); /* IE6-9 */;
	position: absolute;
	top: 3.3em;
    right: 2.5%;
	width: 340px;
	height: 100px;
	line-height: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	/*border-top: 4px solid #999999;*/
	border-radius: 5px;
	display: none;
}

/*PSEUDO ELEMENT TO CREATE TRIANGLE*/
.search-box:before {
	content: "";
	position: absolute;
	top: -33px;
	right: 5px;
	border-top: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid #f5f7f8; /*triangle properties*/
	border-left: 1em solid transparent;
}

/*INPUT FIELD STYLE*/
.search-box input[type="text"] {
	width: 19em;
	padding: 0;
	margin: 0.8em 1em 0 1em;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	border-radius: 5px;
	outline: none; /*prevents the outter line whenever user clicks*/
}

/*INPUT BUTTON STYLE*/
.search-box input[type="button"] {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	-webkit-font-smoothing: antialiased;
	margin: 0.8em 1.4em 1em 1em;
	padding: 0;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

.search-box input[type="button"]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

.search-box input[type="button"]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}
/*SEARCH-BOX (END)*/

/*==============================
CREATED FOR JQUERY LOGIN START*/
.open {
	display: block !important;
} /*.open isn't on html file. Created just for jQuery effect*/
.loginContainerOverlay {
	width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    /*z-index: -9999;*/
}
/*FOR JQUERY LOGIN END
================================*/





/*==============================
CREATED FOR JQUERY SEAR-BOX START*/
.openSearchBox {
	display: block !important;
} /*.open isn't on html file. Created just for jQuery effect*/
.searchBoxOverlay {
	width: 100%;
    height: 100%;
    /*height: 100vh;*/
    position: absolute;
    display: none;
    /*z-index: -9999;*/
}
/*FOR JQUERY LOGIN END
================================*/


/*================================
HEADER PART
==================================*/
header {
	left: 0;
	top: 0;
	right: 0;
}

header .mainheader img {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	object-fit: cover;
	margin: 3.5em auto 0.5em;
	height: 100px;
	width: 200px;
}
/*================================
NAVLIST PART
==================================*/
#navlist nav {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding: 1em 0 0;
	letter-spacing: 2px;
}

#navlist nav ul li {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 0 0.5em;
}

#navlist nav ul li a {
	color: #111111;
}

#navlist nav ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	margin: 0em auto;
}
/*================================
ADVERTISEMENT PART
==================================*/
#advertisement .image {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 1em 1em;
	justify-content: center;
	width: calc(100%);
	height: calc(100%);

}

#advertisement .image img {
	margin: 0 1em;
}

@media screen and (max-width: 1000px) {
	#advertisement .image img {
		width: calc(100%);
		height: calc(100%);
	}
}

@media screen and (max-width: 800px) {
	#advertisement .image img {
		width: calc(100%);
		height: calc(100%);
	}
}

/*================================
CONTAINER PART
TOPNEWS PART
==================================*/
.container {
	max-width: 1140px;
}

.container .topNews {
	margin: auto;
	padding: auto;
}

@media screen and (min-width: 900px) {
	.container .topNews {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}	
}

.container .topNews #topColumn {
	-webkit-flex-flow: row wrap;
	padding: 0 0.5em 0.5em;
	flex: 1;
}

.container .topNews #topColumn .popularNews {
	padding: 0;
}

.container .topNews #topColumn .popularNews h4 {
	font-family: 'Arvo', serif;
	color: #555555;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	padding: 0.5em;
}

.container .topNews #topColumn .popularNews .readable {
	text-align: right;
}

.container .topNews #topColumn .popularNews .mostPopular {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	padding: 0.5em 0;
	align-items: center;
}

.container .topNews #topColumn .popularNews .mostPopular img {
	width: 56%;
    height: 56%;
    border-radius: 5px;
}

.container .topNews #topColumn .popularNews .mostPopular .read {
	text-align: left;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	padding: 1em;
}

.container .topNews #topColumn .popularNews .mostPopular .read h5,
.container .topNews #topColumn .popularNews .mostPopular2 .read h5 {
	font-family: 'Vollkorn', serif;
	-webkit-font-smoothing: antialiased;
}

.container .topNews #topColumn .popularNews .mostPopular .read a,
.container .topNews #topColumn .popularNews .mostPopular2 .read a {
	text-decoration: none;
	color: #65737e;
}

.container .topNews #topColumn .popularNews .mostPopular .read h6 a,
.container .topNews #topColumn .popularNews .mostPopular2 .read h6 a {
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
}

.container .topNews #topColumn .popularNews .mostPopular .read a:hover,
.container .topNews #topColumn .popularNews .mostPopular2 .read a:hover {
	color: #111111;
}

.container .topNews #topColumn .popularNews .mostPopular2 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
	padding: 0.5em 0;
	align-items: center;
}

.container .topNews #topColumn .popularNews .mostPopular2 img {
	width: 56%;
    height: 56%;
    border-radius: 5px;
}

.container .topNews #topColumn .popularNews .mostPopular2 .read {
	text-align: right;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	padding: 1em;
}
/*================================
TOPTITLE PART
==================================*/
.container .topTitle {
	padding: 2em 0.5em 0;
}

.container .topTitle nav {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	width: 100%;
	padding: 1em 0 0;
	letter-spacing: 2px;
}

.container .topTitle nav ul li {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 0 0.5em;
}

.container .topTitle nav ul li a {
	font-family: 'Rufina', serif;
	-webkit-font-smoothing: antialiased;
	color: #111111;
	letter-spacing: 7px;
}

.container .topTitle nav ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	margin: 0em auto;
}
/*================================
CONTAINER PART
INFO PART
==================================*/
.container .info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding: 0.1em 0;
}

.container .info > * {
	-webkit-flex-flow: row wrap;
}

.container .info #column {
	flex-basis: 34%;
}

.container .info #column .article {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	margin: 1em 0.5em;
	padding-top: 1em;
}

.container .info #column .article .paint {
	background-color: #ffcf40;
	color: #555555;
	text-align: left;
}

.container .info #column .article h4 {
	text-align: left;
	margin: 0 2.5em;
	font-family: 'Fredericka the Great', cursive;
	color: #555555;
	-webkit-font-smoothing: antialiased;
}

.container .info #column .article .Section h2,
.container .info #column .article .Section p {
	margin: 0 1em;
	text-align: center;
}

.container .info #column .article .Section h2 a,
.container .info #column .article .Section p a {
	text-decoration: none;
	margin: 2em 0.5em;
	text-align: center;
	color: #65737e;
}

.container .info #column .article .Section h6 a {
	color: #65737e;
	text-decoration: none;
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
}

.container .info #column .article .Section {
	padding: 1em 3em;
	text-align: center;
}

.container .info #column .article .Section a:hover {
	color: #111111;
}

.container .info #column .article .Section img {
	padding-bottom: 1em;
	width: 90%;
	height: 90%;
}

@media screen and (max-width: 1007px) {
	.container .info {
		-webkit-flex-flow: row wrap;
	}
	.container .info #column {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.container .info {
		-webkit-flex-flow: column wrap;
		justify-content: space-around;
	}
	.container .info #column{
		width: calc(100%);
	}
}

@media screen and (max-width: 1007px) {
	.container .info #column .article h4 {
		text-align: left;
		margin: 0 6.3em;
		width: calc(100% / 2);
	}
	.container .info #column .article .paint {
		background-color: #ffffff;
	}
	.container .info #column .article .Section img {
		padding-bottom: 1em;
		width: 90%;
		height: 50%;
	}
}
/*================================
CONTAINER PART
RELEVANTNEWS PART
==================================*/
.container .relevantNews {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}

.container .relevantNews #relevantColumn {
	-webkit-flex-flow: row wrap;
	padding: 0 0.5em 0.2em;
}

.container .relevantNews #relevantColumn .theNews {
	padding: 1.1em 0 0 0;
}

.container .relevantNews #relevantColumn .theNews .theMost {
	display: flex;
	flex-direction: row;
	padding: 0 0 1em 0;
	align-items: stretch;
}

.container .relevantNews #relevantColumn .theNews .theMost img {
	width: 25%;
	height: 25%;
    border-radius: 5px;
}

.container .relevantNews #relevantColumn .theNews .theMost .reading {
	text-align: left;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	padding: 1em 1em 2em 1em;
    margin: 0 0 0 1em;
}

.container .relevantNews #relevantColumn .theNews .theMost .reading h5 {
	font-family: 'Fredericka the Great', cursive;
	-webkit-font-smoothing: antialiased;
}

.container .relevantNews #relevantColumn .theNews .theMost .reading a {
	text-decoration: none;
	color: #65737e;
}

.container .relevantNews #relevantColumn .theNews .theMost .reading a:hover {
	color: #111111;
}

.container .relevantNews #relevantColumn .theNews .theMost .reading h6 a {
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
}
/*================================
CONTAINER PART
NEWSDESK PART
==================================*/
.container .newsDesk {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding: 0.55em 0;
	flex-wrap: wrap;
}

.container .newsDesk > * {
	flex-direction: row;
	flex-wrap: wrap;
}

/*Responsive*/
@media screen and (max-width: 900px) {
	.container .newsDesk {
		justify-content: space-around;
		flex-direction: column;
	}
}

.container .newsDesk #secondColumn {
	flex: 2;
	padding: 0.5em 0.5em;
}

.container .newsDesk #secondColumn .news .videoSection {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
}

.container .newsDesk #secondColumn .news .row {
	justify-content: space-between;
	margin: 1em 0;
}

.container .newsDesk #secondColumn .news .row > * {
	flex-basis: 48.7%;
}

.container .newsDesk #secondColumn .news .videoSection {
	padding: 1em;
}

.container .newsDesk #secondColumn .news .videoSection h4 {
	font-family: 'Fredericka the Great', cursive;
	color: #555555;
	-webkit-font-smoothing: antialiased;
	margin: 0.5em 0;
}

.container .newsDesk #secondColumn .news .videoSection p {
	margin: 0;
}

.container .newsDesk #secondColumn .news .row .country {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	margin: auto 0;
}

@media screen and (max-width: 700px) {
	.container .newsDesk #secondColumn .news .row > * {
		flex-basis: 100%;
	}

	.container .newsDesk #secondColumn .news .row .country {
		padding: 0;
		margin: 0.2em 0 1em;
	}
}

.container .newsDesk #secondColumn .news .row .country a, 
.container .newsDesk #secondColumn .news .videoSection a {
	text-decoration: none;
	color: #65737e;
}

.container .newsDesk #secondColumn .news .row .country a:hover, 
.container .newsDesk #secondColumn .news .videoSection a:hover,
.container .newsDesk #thirdColumn .news .mustRead .read a:hover {
	color: #111111;
}

.container .newsDesk #secondColumn .news .row .country h4,
.container .newsDesk #thirdColumn .news .mustRead .read h5 {
	font-family: 'Fredericka the Great', cursive;
	color: #555555;
	-webkit-font-smoothing: antialiased;
}

.container .newsDesk #secondColumn .news .row .country h4, 
.container .newsDesk #secondColumn .news .row .country p {
	padding: 0.2em 1em;
	margin: 0;
}

.container .newsDesk #secondColumn .news .row .country video {
	text-align: left;
}

.container .newsDesk #secondColumn .news .row .country img {
	width: 60%;
	height: 60%;
	padding: 1em;
}

.container .newsDesk #thirdColumn {
	flex: 1;
	padding: 0.5em 0.5em;
}

.container .newsDesk #thirdColumn .news {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
}

.container .newsDesk #thirdColumn .news h4 {
	font-family: 'Arvo', serif;
	color: #555555;
	-webkit-font-smoothing: antialiased;
	padding: 0.5em 0.5em 0.5em 0.7em;
}

.container .newsDesk #thirdColumn .news .mustRead {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
	padding: 0.5em 1em 2em;
}

.container .newsDesk #thirdColumn .news .mustRead img {
	width: 44%;
    height: 30%;
    padding: 1em;
}

.container .newsDesk #thirdColumn .news .mustRead .read {
	text-align: left;
	flex-direction: column;
}

.container .newsDesk #thirdColumn .news .mustRead .read a {
	text-decoration: none;
	color: #65737e;
}
/*================================
CONTAINER PART
HIGHLIGHTS PART
==================================*/
.container .highlights {
	padding: 0.5em 0 0.5em;
}

@media screen and (min-width: 900px) {
	.container .highlights {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}
}

.container .highlights > * {
	-webkit-flex-flow: row wrap;
}

.container .highlights #columnContainer {
	flex-basis: 25%;
	padding-bottom: 0.1em;
}

.container .highlights #columnContainer .dailyArticle {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	margin: 0.5em 0.5em;
	text-align: center;
}

.container .highlights #columnContainer .dailyArticle img {
	width: 87%;
	height: 100%;
    padding: 1em 0;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn {
	text-align: left;
	margin-left: 0.5em;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn h4 {
	font-family: 'Fredericka the Great', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn h2 {
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn a {
	text-decoration: none;
	color: #65737e;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn h5 a {
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn a:hover {
	color: #111111;
}

.container .highlights #columnContainer .dailyArticle .commentsColumn p,
.container .highlights #columnContainer .dailyArticle .commentsColumn h5 {
	text-align: left;
	padding-left: 0.5em;
}
/*================================
BOTTOM ADVERTISEMENT PART
==================================*/
#bottomAdvertisement .image {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 1em 1em 1em 0;
	justify-content: center;
	width: calc(100%);
	height: calc(100%);
	border-top: 1px solid #eaeaeb;
}
/*================================
FOOTER PART
ABOUT PART
==================================*/
footer .about {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	padding: 2em 0.5em;
}

@media screen and (max-width: 1000px) {
	footer .about {
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}
	footer .about #footerColumn {
		flex-basis: calc(100% / 3);
	}
}

footer .about > * {
	display: inline-block;
	flex-basis: 20%;
}

footer .about #footerColumn {
	margin: 0;
	padding: 1em 0.4em 0;
}

footer .about #footerColumn .dailyArticle {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin: 0;
	background: #ffffff;
	padding: 0;
}

footer .about #footerColumn .dailyArticle .image {
	padding: 0.5em 1em;
	margin: 0;
	text-align: center;
}

footer .about #footerColumn .dailyArticle .image p {
	text-align: left;
}

footer .about #footerColumn .dailyArticle .image li {
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.2em 0;
}

footer .about #footerColumn .dailyArticle ul {
	padding: 0;
}

footer .about #footerColumn .dailyArticle ul li {
	list-style-type: none;
	padding: 0.2em 1em 0.1em;
}

footer .about #footerColumn .dailyArticle ul .icon {
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

footer .about #footerColumn .dailyArticle ul .icon img {
	width: 60%;
	padding: 0;
	margin-top: 1em;
}

footer .about #footerColumn .dailyArticle ul li h3 {
	font-family: 'Princess Sofia', cursive;
	-webkit-font-smoothing: antialiased;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 0.15em 0.2em;
}

footer .about #footerColumn .dailyArticle h4 {
	font-family: 'Fredericka the Great', cursive;
	color: #555555;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

footer .about #footerColumn .dailyArticle h5 {
	font-family: 'Fredericka the Great', cursive;
    color: #555555;
	-webkit-font-smoothing: antialiased;
	padding: 0 1em;
	margin: 0;
	text-align: center;
}

footer .about #footerColumn .dailyArticle ul li h6 {
	font-family: 'Chelsea Market', cursive;
	-webkit-font-smoothing: antialiased;
	padding: 0.2em 0.3em;
	margin: 0;
}

footer .about #footerColumn .dailyArticle ul li a {
	text-decoration: none;
	color: #65737e;
}

footer .about #footerColumn .dailyArticle ul li a:hover {
	color: #32cd32;
}

